extends ../layout.pug

block prepend styles
  link(rel='stylesheet' href='//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css')

block content
  div(class='breadcrumb')
    li Додавання нової планети в колекцію
  form(id='planet-add-form' name='planet-add-form' class='form-inline' action='/addPlanets' method='POST')
    div(class='form-group')
      div(class='col-md-3')
        label(for='name') Назва
      div(class='col-md-9')
        input(id='name' name='name' value='' class='form-control')
      div(class='form-group')
      div(class='col-md-3')
        label(for='name') Назва станції 
      div(class='col-md-9')
        input(id='spacestation' name='spacestation' value='' class='form-control') 
    div(class='form-group')
      div(class='col-md-3')
        label(for='name') Місткість 
      div(class='col-md-9')
        input(id='capacity' name='capacity' value='' class='form-control') 
    div(class='form-group')
      div(class='col-md-3')
        label(for='name') Маса
      div(class='col-md-9')
        input(id='Mass' name='mass' value='' class='form-control')       
    div(class='form-group')
      div(class='col-md-12')
        button(type='submit' class='btn btn-primary') Створити
  br
  div(class='breadcrumb')
    li Редагування планети в колекції
  form(id='planet-edit-form' name='planet-add-form' class='form-inline' action='/editPlanets' method='POST')
    div(class='')
      div(class='col-md-3')
        label(for='') Планета
      div(class='col-md-6')
        select#OurShipEdit(name = 'index')
          each val, index in dataplanet
            option= index + '. Назва: ' + val.name + '. Станція: ' + val.spacestation + '. Місткість: ' + val.capacity + '. Маса: ' + val.mass
    div
      div(class='form-group')
        div(class='col-md-3')
          label(for='name') Нова Назва
        div(class='col-md-9')
          input( name='name' value='' class='form-control')
      div(class='form-group')
        div(class='col-md-3')
          label(for='name') Нова Станція
        div(class='col-md-9')
          input( name='spacestation' value='' class='form-control')
      div(class='form-group')
        div(class='col-md-3')
          label(for='name') Нова Місткість
        div(class='col-md-9')
          input( name='capacity' value='' class='form-control')
      div(class='form-group')
        div(class='col-md-3')
          label(for='name') Нова маса
        div(class='col-md-9')
          input( name='Mass' value='' class='form-control')
      div(class='form-group')
        div(class='col-md-12')
          button(type='submit' class='btn btn-primary') Редагувати

  div(class='breadcrumb')
    li Видалення планети з колекції
  form(id='planet-delete-form' name='planet-add-form' class='form-inline' action='/deletePlanets' method='POST')
    div(class='')
      div(class='col-md-3')
        label(for='') Планета
      div(class='col-md-6')
        select(name = 'index')
          each val, index in dataplanet
            option= index + '. Назва: ' + val.name + '. Станція: ' + val.spacestation +  '. Місткість: ' + val.capacity + '. Маса: ' + val.mass
        button(type='submit' class='btn btn-primary') Видалити
        p= info

  div(class='breadcrumb')
    li Пошук одної планети в колекції
  form(id='planet-find-form' name='planet-add-form' class='form-inline' action='/findPlanets' method='POST')
    div(class='')
      div(class='form-group')

        div(class='col-md-3')
          label(for='name') Назва
        div(class='col-md-9')
          input( name='name' value='' class='form-control')

      div(class='form-group')
        div(class='col-md-12')
          button(type='submit' class='btn btn-primary') Пошук
      p= find
block append scripts
  script(src='/static/js/models/shop.js')
  script(src='//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
  script(src='/static/js/views/shop.js')